{% set comma_joiner = joiner(",") %}
{ "{{acceptance.name}}":
{% for scenario in acceptance.scenarios %}
{{comma_joiner()}}
    {
        "{{scenario.name}}" : {
            {% for given_step in scenario.givens %}{{comma_joiner()}}
            "{{given_step}}" : {
                "functions" : [
                    ""
                ],
                "statements" : [
                    ""
                ]
            }
            {%endfor%}
            {% for when_step in scenario.whens %}
            {{comma_joiner()}}
            "{{when_step}}" : {
                "functions" : [
                    ""
                ],
                "statements" : [
                    ""
                ]
            }
            {%endfor%}
            {% for then_step in scenario.thens %}
            {{comma_joiner()}}
            "{{then_step}}" : {
                "functions" : [
                    ""
                ],
                "statements" : [
                    ""
                ]
            }
            {%endfor%}
        }
    }

    {%endfor%}
}
